<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Motor" value="valor"/>
    <add key="DB" value="CITI"/>
    <add key="User" value=""/>
    <add key="Password" value=""/>
    <add key="Puerto" value="valor"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>